/* Global */
body {
    font-family: 'Manrope', sans-serif;
    background-color: #3b0087;
    color: white;
}

.header-img img {
    border-radius: 50%;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.right-text img {
    border-radius: 50%;
    width: 40px;
    vertical-align: middle;
}

.nav-panel p {
    text-align: right;
    vertical-align: middle;
}

.header {
    /* position: fixed; */
    border-style: hidden;
    border-radius: 25px;
    background-color: #5A24A0;
    color: white;
}

/* Index page */
.logo-name h1 {
    font-family: 'Manrope', sans-serif;
    color: white;
    vertical-align: middle;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 50px;
}
.logo-name h1 span {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    border-style: hidden;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    color: #3b0087;
}
.purpose-p a {
    color: white;
    font-weight: bold;
}
.right-text {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.title-column  {
    overflow-wrap: normal;
    text-align: center;
    background-color: #5A24A0;
    border-radius: 15px;
    max-width: 90%;
    display: inline-block;
}
.purpose-p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.blogs {
    margin-top: 20px;
}
.blogs a{
    margin-bottom: 20px;
}
.blog a:link {
    background-color: white;
    color: #3b0087;
    max-width: 100%;
    min-width: 100%;
    max-height: 60px;
    min-height: 60px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.blog a:hover {
    background-color: #3b0087;
    color: white;
}
h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.container {
    width: 1000px;
    margin: 0 auto;
    display: block;
}
.header {
    width: 100%;
    height: 150px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.content-body {
    margin-top: 50px;
}

/* other pages */
.other-page-right {
    text-align: right;
    vertical-align: middle;
    margin-top: 60px;
    margin-right: 35px;
}
.other-page-right img {
    vertical-align: middle;
    width: 35px;
    margin-top: 20px;
}
.box-background {
    background-color: rgba(216, 191, 216, 0.521);
}
.box-model h1{
    text-align: center;
    background: thistle;
    border: 0.25em solid rgb(165, 122, 165);
    padding: 2em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}
.margin-color {
    background-color: rgba(216, 191, 216, 0.521);
}
.border-color {
    background-color: rgb(165, 122, 165);
}
.padding-color {
    background-color: thistle;
}
.sprint2-body h4 {
    margin-left: 25px;
}
.sprint2-body p, .sprint-1-cul p, .sprint3-cul-blog p, .sprint4-cul-blog p {
    margin-left: 50px;
    text-align: justify;
}
.sprint4-cul-blog a {
    font-size: 20px;
    text-decoration: none;
    color: #5A24A0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
}
.sprint4-cul-blog h2 {
    text-align: center;
}
.sprint4-cul-blog a {
    background-color: yellow;
}
.sprint4-cul-blog li {
    text-indent: 40px;
}
.sprint4-cul-blog span {
    text-transform: lowercase;
    color: white;
    font-size: 15px;
}

.confidence-block {
    background-color: #5A24A0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
}
.confidence-4 {
    background-color: green;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
}
.confidence-4-body {
    background-color: green;
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
}
.confidence-3 {
    background-color: yellow;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
    color: black;
}
.confidence-2 {
    background-color: orange;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
    color: black;
}
.confidence-1 {
    background-color: red;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    text-align: center;
}
.techniques-block {
    display: flex;
    font-size: 20px;
}
.techniques-body {
    text-align: justify;
    margin-left: 40px;
}
.problem-solving p {
    margin-left: 40px;
    text-align: justify;
}
.problem-solving span {
    color: yellow;
}
.sprint4-tech-blog img {
    max-height: 80px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.sprint-3-tech-blog p{
    text-align: justify;
    margin-left: 25px;
}
.sprint2-body ul {
    margin-left: 50px;
    text-align: justify;
}
.dom-example img, .flow-example img{
    width: 30%;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.dom-code-example {
    background-color: rgb(198, 201, 201);
    color: black;
    padding: 5px 20px 10px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 75%;
    font-family: 'PT Mono', monospace;
}

.code-example {
    background-color: rgb(198, 201, 201);
    color: black;
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 57%;
    font-family: 'PT Mono', monospace;
}
.code-example p {
    margin-left: 25px;
}
.code-comment {
    color: rgb(72, 128, 16);
}
.example-arrow-function {
    display: flex;
}

.indent-line {
    text-indent: 40px;
}
.blue-word {
    color: blue;
}
.red-word {
    color: red;
}
.maroon-word {
    color: maroon;
}
.yellow-word {
    color: rgb(146, 146, 17);
}
.black-word {
    color: black;
}


/* Layouts */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: 100%;
    display: flex;
}.col-1 {
    width: 8.33%;
}.col-2 {
    width: 16.66%;
}.col-3 {
    width: 25%;
}.col-4 {
    width: 33.33%;
}.col-5 {
    width: 41.66%;
}.col-6 {
    width: 50%;
}.col-7 {
    width: 58.33%;
}.col-8 {
    width: 66.66%;
}.col-9 {
    width: 75%;
}.col-10 {
    width: 83.33%;
}.col-11 {
    width: 91.66%;
}

